<!DOCTYPE html>


<html lang="en">
<link rel="stylesheet" type="text/css" href="css/page_style.css">
<link rel="stylesheet" type="text/css" href="css/contractors.css">
<link rel="stylesheet" type="text/css" href="css/register.css">
<link rel="stylesheet" type="text/css" href="css/login.css">
<link rel="stylesheet" type="text/css" href="css/dropdown.css">
<link rel="stylesheet" type="text/css" href="css/calendar.css">


<!-- <link rel="stylesheet" type="text/css" href="node_modules\angularjs-datepicker\dist\angular-datepicker.css"> -->



<head>
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no"/> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>


<body ng-app="app">

	<div class="grid">
		<div class="header">

			<div class="title">
				<h2>{{'heading' | translate}}</h2>
			</div>
			<div class="favicon"><img src="favicon.ico" height="80" /></div>
			<div class="registration">
				<a href="#!/login"><button class="buttons">{{'login' | translate}}</button></a>
				<a href="#!/register"><button class="buttons">{{ 'registerN' | translate }}</button></a>
			</div>

			<!-- <select class="lang" name="lang" id="lang" ng-change="changeLanguage()" ng-model="langKey">
				<option value="en"><img img src="http://i64.tinypic.com/fd60km.png"/>{{ 'en' | translate }}</option>
				<option value="ro">{{ 'ro' | translate }}</option>
				<option value="fr">{{ 'fr' | translate }}</option>
			</select> -->

			<div class="lang">
				<ul class="languagepicker roundborders large">
					<a href="#nl">
						<li><img src="http://i65.tinypic.com/2d0kyno.png" /></li>
					</a>
					<a href="#en">
						<li><img src="http://i64.tinypic.com/fd60km.png" /></li>
					</a>
					<a href="#de">
						<li><img src="http://i63.tinypic.com/10zmzyb.png" /></li>
					</a>
					<a href="#fr">
						<li><img src="http://i65.tinypic.com/300b30k.png" /></li>
					</a>
					<a href="#es">
						<li><img src="http://i68.tinypic.com/avo5ky.png" /></li>
					</a>
					<a href="#it">
						<li><img src="http://i65.tinypic.com/23jl6bn.png" /></li>
					</a>
				</ul>
			</div>


			<div class="navbar" ng-controller="menuController">
				<ul>
					<li class="menuli"><button class="dropbtn" ng-click="goTo('#!')" class="active">{{ 'home' | translate }}</button></li>
					<li class="menuli"><button class="dropbtn" ng-click="goTo('/contact')">{{'contact' | translate }}</button></li>
					<li class="menuli"><button class="dropbtn" ng-click="goTo('/about')">{{'about' | translate }}</button></li>
					<li class="menuli"><button class="dropbtn" ng-click="goTo('/contractori')">{{'contractori' | translate }}</button></li>
					<li class="menuli">
							<div class="dropdown">
									<button class="dropbtn">Filter
									</button>
									<div class="dropdown-content">
										<div class="column">
											<div class="typemenu">Stiluri de muzica
												<ul>
													<li class="typeli"><input type="checkbox" name="type" value="dj">Dj</li>
													<li class="typeli"><input type="checkbox" name="type" value="band">Band</li>
													<li class="typeli"><input type="checkbox" name="type" value="interpret">Interpret</li>
												</ul>
											</div>
										</div>
										<div class="column">
											<div class="typemenu">
												<label>Tipuri</label>
												<ul>
												<li class="typeli"><input class="check" type="checkbox" name="stil" value="pop">Pop</li>
												<li class="typeli"><input type="checkbox" name="stil" value="rock">Rock</li>
												<li class="typeli"><input type="checkbox" name="stil" value="pop">Populara</li>
												<li class="typeli"><input type="checkbox" name="stil" value="rock">Folk</li>
											</ul>
											</div>
										</div>
										<div class="column">
											<div class="calendar" ng-controller="calendarController">
												<datepicker datepicker-show="true" date-format="dd/MM/yyyy">
													<input class="date" ng-model="date" />
												</datepicker>
											</div>
										</div>
										</div>
									
								  </div> 
				    </li>
				</ul>



			</div>
		</div>

		




		<div class="content">

			<div class="form">
				<div ng-view></div>

			</div>
		</div>
		<!-- <div class="left">
			<div class="search">
				<div class="search-container">
					<form action="/action_page.php">
						<input type="text" placeholder="Search.." name="search">
						<button type="submit"><i class="fa fa-search"></i></button>
					</form>
				</div>
			</div> 
			<div class="menu">Menu
				<br><br><input type="checkbox" name="stil" value="pop">Pop<br>
				<input type="checkbox" name="stil" value="rock">Rock<br>
				<input type="checkbox" name="stil" value="pop">Populara<br>
				<input type="checkbox" name="stil" value="rock">Folk<br>
			</div>
			<div class="menuStil">
				<label>Stil muzical</label><br><br>
				<input type="checkbox" name="stil" value="pop">Pop<br>
				<input type="checkbox" name="stil" value="rock">Rock<br>
				<input type="checkbox" name="stil" value="pop">Populara<br>
				<input type="checkbox" name="stil" value="rock">Folk<br>
			</div>
			<div class="calendar" ng-controller="calendarController">
				<datepicker datepicker-show="true"
							date-format="dd/MM/yyyy">
					<input class="date" ng-model="date" />
				</datepicker>
				

			</div>
		</div>
 -->

		<div class="footer">
			<span>{{ 'footer' | translate }}</span>
		</div>

	</div>
</div>
</body>
</body>
<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-route/angular-route.js"></script>
<script src="node_modules/angular-translate/dist/angular-translate.js"></script>
<script src="node_modules/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="node_modules/angular-xeditable/dist/js/xeditable.js"></script>

<script src="node_modules/angularjs-datepicker/dist/angular-datepicker.js"></script>

<!--<script src ="node_modules/angular/angular-resource.js"></script>-->
<script src="js/app.js"></script>
<script src="js/config.js"></script>
<script src="js/modules/controllers/langController.js"></script>
<script src="js/modules/controllers/loginController.js"></script>
<script src="js/modules/controllers/contractorsController.js"></script>
<script src="js/modules/services/loginService.js"></script>
<script src="js/modules/controllers/registerController.js"></script>
<script src="js/modules/services/registerService.js"></script>
<script src="js/modules/directives/contractorBox.js"></script>
<script src="js/modules/controllers/editController.js"></script>
<script src="js/modules/controllers/calendarController.js"></script>
<script src="js/modules/controllers/calendarEventController.js"></script>
<script src="js/modules/controllers/menuController.js"></script>
<script src="js/modules/controllers/avatarController.js"></script>
<script src="js/modules/services/avatarService.js"></script>
<script src="js/modules/directives/avatarDirective.js"></script>
<script src="js/modules/controllers/contractorController.js"></script>


</html>