<!DOCTYPE html>


<html lang="en">
<link rel="stylesheet" type="text/css" href="css/page_style.css">
<link rel="stylesheet" type="text/css" href="css/contractors.css">
<link rel="stylesheet" type="text/css" href="css/register.css">
<link rel="stylesheet" type="text/css" href="css/login.css">
<link rel="stylesheet" type="text/css" href="css/dropdown.css">
<link rel="stylesheet" type="text/css" href="css/calendar.css">
<link rel="stylesheet" type="text/css" href="css/contrPage.css">
<link rel="stylesheet" type="text/css" href="css/contact.css">
<link rel="stylesheet" type="text/css" href="css/home.css">
<link rel="stylesheet" type="text/css" href="css/home.css">
<link rel="stylesheet" type="text/css" href="css/about.css">
<link rel="stylesheet" type="text/css" href="css/carousell.css">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->

<!-- <link rel="stylesheet" type="text/css" href="node_modules\angularjs-datepicker\dist\angular-datepicker.css"> -->
<script>
	function openNav() {
		document.getElementById("mySidenav").style.width = "250px";
		document.getElementById("main").style.marginLeft = "250px";
	}

	function closeNav() {
		document.getElementById("mySidenav").style.width = "0";
		document.getElementById("main").style.marginLeft = "0";
	}
</script>


<head>
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no"/> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>


<body ng-app="app">

	<div class="grid">
		<div class="header">

			<div class="sidenav" id="mySidenav" ng-controller="menuController">
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
				<a class="dropbtn" ng-click="goTo('/home')" onclick="closeNav()"
					class="active">{{ 'home' | translate }}</a>
				<a class="dropbtn" ng-click="goTo('/contact')" onclick="closeNav()">{{'contact' | translate }}</a>
				<a class="dropbtn" ng-click="goTo('/about')" onclick="closeNav()">{{'about' | translate }}</a>
				<a class="dropbtn" ng-click="goTo('/contractori')"
					onclick="closeNav()">{{'contractori' | translate }}</a>

				<div class="dropdown" ng-controller="filterController">
					<a class="dropbtn">Filter</a>
					<div class="dropdown-content">
						<div class="column">
							<label>Stiluri de muzica</label>
							<div class="typemenu" ng-repeat="style in styles" >
								<input class="typeli" type="checkbox" name="selectedStyles[]" ng-model="style.selected" value="{{style.name}}">{{style.name}}
								
							</div>
							<!-- <p ng-model="selection">{{selection}}</p> -->
						</div>
						<!-- <div class="column">
							<label>Tipuri</label>
							<div class="typemenu" ng-repeat="domain in domains">

								<input class="typeli" type="checkbox" ng-click='getdetails()'>{{domain.name}}
							</div>

						</div> -->
						<div class="column">
							<!-- <div class="calendar" ng-controller="calendarController">
										<datepicker date-format="dd/MM/yyyy"> 
											datepicker-show="true" 
											<input class="date" ng-model="date" />
										</datepicker>
									</div> -->
						</div>
						
					<div class="column">
						<div class="search">
							<form action="#" method="post">
								<input type="search" name="search" id="search" placeholder="Search">
								<button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
							</form>
						</div>
					</div>
					</div>
					</div>
			</div>
			<span style="font-size:30px;cursor:pointer; color:rgb(238, 139, 73);" onclick="openNav()">&#9776;</span>
			<!-- &#9776; -->
			<div ng-controller="submitController" ng-init="isLogged = false; notLogged = true;">
				<a href="#!/login"><button class="buttons" ng-show="notLogged" ng-model="notLogged" >{{'login' | translate}}</button></a>

				<a href="#!/register"><button class="buttons">{{ 'registerN' | translate }}</button></a>

		
				<a  href="#!/"><button class="buttons" ng-show="isLogged"  ng-model="isLogged" ng-click="clearLogin()">Log out</button></a>
			</div>
			</div>

	

		<div class="content" id="main" >
			
			<div ng-view></div>
		
		</div>
		<div class="footer">
			
			<div class="footerLine">
					<a  href="#" class="fa fa-facebook"></a>
					<a  href="#" class="fa fa-twitter"></a>
					<a href="#" class="fa fa-instagram"></a>
					<a href="#" class="fa fa-skype"></a>
					<a href="#" class="fa fa-yahoo"></a>
					<a href="#" class="fa fa-youtube"></a>

			</div>
			<div class="footerContent">
					<div class="aboutFooter">
						<h4>ABOUT US</h4>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. </p>
						<div class="subscribe">
								<h4>SUBSCRIBE</h4>
								<form action="#" method="post" class="subscribeForm">
									<div class="input-group mb-3">
										<input type="text" class="subscribeInput"
											placeholder="Enter your email" aria-label="Enter Email" aria-describedby="button-addon2">
											<button class="subscribeBtn" type="button">Subscribe</button>

									</div>
								</form>
						</div>
					</div>

					<div class="navigate" ng-controller="menuController">
							<h4>NAVIGATE</h4>
							<a class="nav" ng-click="goTo('/home')" 
								class="active">{{ 'home' | translate }}</a><br>
							<a class="nav" ng-click="goTo('/contact')">{{'contact' | translate }}</a><br>
							<a class="nav" ng-click="goTo('/about')">{{'about' | translate }}</a><br>
							<a class="nav" ng-click="goTo('/contractori')"
								>{{'contractori' | translate }}</a>
								
						<div class="follow">
								<h4>FOLLOW US</h4>
							<a  href="#" class="fa fa-facebook"></a>
							<a  href="#" class="fa fa-twitter"></a>
							<a  href="#" class="fa fa-instagram"></a>
						</div>
					</div>
					
			</div>
		</div>


	</div>
</body>

<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-route/angular-route.js"></script>
<script src="node_modules/angular-translate/dist/angular-translate.js"></script>
<script src="node_modules/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="node_modules/angular-xeditable/dist/js/xeditable.js"></script>
<script src="node_modules/angularjs-datepicker/dist/angular-datepicker.js"></script>
<script src="node_modules/ngstorage/ngStorage.js"></script>
<!--<script src ="node_modules/angular/angular-resource.js"></script>-->
<script src="js/app.js"></script>
<script src="js/config.js"></script>
<script src="js/modules/controllers/langController.js"></script>
<script src="js/modules/controllers/loginController.js"></script>
<script src="js/modules/controllers/contractorsController.js"></script>
<script src="js/modules/services/loginService.js"></script>
<script src="js/modules/controllers/registerController.js"></script>
<script src="js/modules/services/registerService.js"></script>
<script src="js/modules/directives/contractorBox.js"></script>
<script src="js/modules/controllers/editController.js"></script>
<script src="js/modules/controllers/calendarController.js"></script>
<script src="js/modules/controllers/calendarEventController.js"></script>
<script src="js/modules/controllers/menuController.js"></script>
<script src="js/modules/controllers/avatarController.js"></script>
<script src="js/modules/directives/avatarDirective.js"></script>
<script src="js/modules/controllers/contractorController.js"></script>
<script src="js/modules/controllers/filterController.js"></script>
<script src="js/modules/services/filterService.js"></script>
<script src="js/modules/directives/filterBox.js"></script>
<script src="js/modules/controllers/editController.js"></script>
<script src="js/modules/services/filterService.js"></script>
<script src="js/modules/services/contractorService.js"></script>
<script src="js/modules/controllers/contPageController.js"></script>
<script src="js/modules/controllers/logoutController.js"></script>
<script src="js/modules/controllers/styleController.js"></script>
<script src="js/modules/controllers/submitController.js"></script>
<script src="js/modules/services/sharedService.js"></script>
<script src="js/carousel.js"></script>
</html>