<link rel="stylesheet" type="text/css" href="css/register.css">
<script src="js/modules/directives/contractorDirective.js"></script>
<script src ="js/modules/controllers/userController"></script>

<form role="form" name="registerForm" ng-submit="submit()" ng-controller="userController">
  <div class="form-group">
      <label>Nume</label><br>
      <input type="text" placeholder="Enter Name" name="name" ng-model="user.nume" ng-required="true">
	  <span ng-show="registerForm.name.$touched && registerForm.name.$invalid" style="color:red; display:block; text-align:center;">Enter a valid name</span>
	  
  </div>
  <div class="form-group">
      <label>Email</label>
      <input type="email" placeholder="Enter Email" name="email" ng-model="user.email" ng-required="true">
	  <span ng-show="registerForm.email.$touched && registerForm.email.$invalid" style="color:red; display:block; text-align:center;">Enter a valid email</span>
  </div>
  
  <div class="form-group">
      <label>Password</label><br>
      <input type="password" placeholder="Enter password" name="password" ng-model="user.password" ng-required="true">
	  <span ng-show="registerForm.password.$touched && registerForm.password.$invalid" style="color:red; display:block; text-align:center;">Enter password</span>
  </div>
  
  <br>

  
  <div class="checkbox">
    <input type="checkbox" id="myCheck" ng-model="box"> contractor
  </div>
  
  <contractorDirective id="extra" ng-if="box">
		<p>Extra fields for contractor</p>
		<div class="form-group">
			<label>Nume scena</label>
			<input type="text" placeholder="Enter Name" name="nameStage" ng-model="user.numeStage" ng-required="true">
			<span ng-show="registerForm.nameStage.$touched && registerForm.nameStage.$invalid" style="color:red; display:block; text-align:center;">Enter a valid stage name</span>
		</div>
		
		<div class="form-group">
			<label>Numar telefon</label>
			<input type="text" inputmode="numeric" placeholder="phone number" name="tel" ng-minlength="10" ng-maxlength="10"  ng-pattern="/^\+?\d{2}[- ]?\d{3}[- ]?\d{5}$/"  ng-model="user.tel" ng-required="true">
			<span ng-show="registerForm.tel.$touched && registerForm.tel.$invalid" style="color:red; display:block; text-align:center;">Enter a valid phone number</span>
		</div>
		
		<div class="form-group">
			<label>Canal Youtube</label>
			<input type="text" placeholder="youtube channel" name="yt" ng-model="user.yt" ng-required="true">
		</div>
		
		<div class ="form-group">
		  <label>Tip</label>
		  <select name ="tipMuzica" id ="tipMuzica" class= "form-control" ng-model="user.tip" ng-required="true">
			<option>Dj</option>
			<option>Band</option>
			<option>Interpret</option>
		  </select>
		</div><br>
		<div class="form-group" >
			<label>Stil muzical</label><br>
			<input type="checkbox" name="stil" value="pop">Pop<br>
			<input type="checkbox" name="stil" value="rock">Rock<br>
			<input type="checkbox" name="stil" value="pop">Populara<br>
			<input type="checkbox" name="stil" value="rock">Folk<br>
		</div> 
  
  
  </contractorDirective>
  <br>
  <input type="submit" id="submit" value="Submit" ng-disabled="registerForm.$invalid">
  
  <div class="container signin">
    <p>Already have an account? <a href="#!/login">Sign in</a>.</p>
  </div>
</form>