/frontEnd/node_modules/*
/backend/.metadata
/frontEnd/node_modules
/frontEnd/node_modules
/frontEnd/package-lock.json
/frontEnd/package-lock.json
/backend/app.v2/target/classes/META-INF/MANIFEST.MF
/backend/app.v2/target/classes/META-INF/MANIFEST.MF
/backend/app.v2/target/classes/META-INF/maven/com.springboot.app/app/pom.properties
/backend/app.v2/target/classes/META-INF/MANIFEST.MF
/backend/app.v2/target/classes/META-INF/MANIFEST.MF
/backend/app.v2/target/classes/META-INF/maven/com.springboot.app/app/pom.properties
/backend/app.v2/target/classes/META-INF/maven/com.springboot.app/app/pom.properties
/frontEnd/package.json
