body {
	background-color: #B0E0E6;
}

.grid{
	display:grid;
	/*grid-template-columns: auto auto;
	grid-template-rows: auto auto;*/
	grid-template-columns: 50px 50px auto 50px 50px;
	grid-template-rows: 30% auto 5%;
	grid-gap:20px;

}
.grid > *{
	background: white;
	padding:1em;
	border: 2px solid black;
}
.header{
	
	grid-column-start: 1;
	grid-column-end: -1;
	
}
.buttons{
	float: right;
}
/*.form{
	height: auto;
	grid-column-start: 1;
	grid-column-end: -1;
}*/
.content{
	grid-column-start: 3;
	grid-column-end: 4;

}
.footer{
	grid-column-start: 1;
	grid-column-end: -1;
	height:2px;
}
.left
{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
}
