<!DOCTYPE html>
<html>
<head>
  <title>AngularJS File Upoad Example with $http and FormData</title>
  
</head>

<body ng-app="app">
   
      <label class="import-file">
        <input type="file" multiple onchange="angular.element(this).scope().fileNameChanged(this)">
        <div>Import file...</div>
      </label>

</body>
<!-- <script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-route/angular-route.js"></script>
<script src="js/app.js"></script>
<script src="js/config.js"></script>
<script src="js/modules/controllers/avatarController.js"></script>
<script src="js/modules/services/avatarService.js"></script>
<script src="js/modules/directives/avatarDirective.js"></script> -->



</html>