<div ng-controller="contractorController">
<div class="contractor" ng-click="gotoContractor()" >
        <img class="avt" src="images/defaultContractor.jpg" style="height: 250px">
        <h3 >{{contractor.name}} {{contractor.lastName}}</h3>
        <div class="extraDetails">
                <div class="text">
                <p ng-hide="{{contractor.canalyoutube.length == null}}">{{'register.youtube.name' | translate}}:
                        {{contractor.canalyoutube}}</p>
                <p ng-hide="{{contractor.numescena.length == null}}">{{'register.stage.name' | translate}}:
                        {{contractor.numescena}}</p>


                <p>{{'descriere' | translate}}: {{contractor.descriere}}</p>
        </div>
        </div>
</div>
</div>