<h3>***View contractor details***</h3>
<div class="contractori" ng-controller="contPageController" ng-model="cont" >
    <div>

        <label ng-model="firstName" >{{'register.first.name' | translate}}:</label><label>{{firstName}}</label><br>

        <label ng-model="lastName">{{'register.last.name' | translate}}:</label>{{lastName}}<br>

        <label ng-model="mobile">{{'register.phone.name' | translate}}:</label>{{mobile}}<br>

        <label ng-model="numescena">{{'register.stage.name' | translate}}:</label>{{numescena}}<br>

        <label ng-model="canalyoutube">{{'register.youtube.name' | translate}}:</label>{{canalyoutube}}

    </div>
    <div class="image">
        <img class="avatar" ng-model="src" ng-src={{src}} ng-init="src='images/add.png'">

    </div>




    <div class="description">

        <label style="font-size:1.5vw" for="youtube">Descriere:</label>

    </div>
</div>