View contractor details




<!-- <div class="contractor">
    <div class="details">


        <h6 style="font-size:1.5vw" for="firstName">{{'register.first.name' | translate}}:</label>
        <input class="edit" type="text" id="firstName" ng-model="details.name" ng-required="true"
            ng-hide="editorEnabled" />

        <label style="font-size:1.5vw" for="lastName">{{'register.last.name' | translate}}:</label>
        <input type="text" id="lastName" ng-model="details.lastName" ng-required="true" ng-hide="editorEnabled" />

        <label style="font-size:1.5vw" for="mobile">{{'register.phone.name' | translate}}:</label>
        <input type="text" id="mobile" data-ng-model="details.mobile" ng-required="true" minlength="10" maxlength="10"
            pattern="/^\+?\d{2}[- ]?\d{3}[- ]?\d{5}$/" only-digits="" ng-hide="editorEnabled" />

        <label style="font-size:1.5vw" for="stageName">{{'register.stage.name' | translate}}:</label>
        <input type="text" id="stageName" ng-model="details.numescena" ng-required="true" ng-hide="editorEnabled" />

        <label style="font-size:1.5vw" for="youtube">{{'register.youtube.name' | translate}}:</label>
        <input type="text" id="youtube" ng-model="details.canalyoutube" ng-required="true" ng-hide="editorEnabled" />

    </div>
    <div class="image">
        <img class="avatar" ng-init="name = 'images/add.png'">

    </div>




    <div class="description">

        <label style="font-size:1.5vw" for="youtube">Descriere:</label>
        <textarea class="textarea" type="text" ng-model="details.descriere" ng-hide="editorEnabledDescr"></textarea>

    </div>
</div> -->