        <div id="animated" class="animatedContent bounceInDown">
          <div class="detailsContent">
            <div class="row">
              <div id="animated-example" class="animated1 bounceInDown">

                <div class="column">
                  <div class="card">
                    <p><img src="images/partyy.png" style="height:50px; width:50px; filter: invert(100%);"></p>
                    <h3>159+</h3>
                    <p>Success Stories</p>
                  </div>
                </div>
                <div class="column">
                  <div class="card">
                    <p><img src="images/performer.png" style="height:50px; width:50px; filter: invert(100%);"></p>
                    <h3>56+</h3>
                    <p>Dedicated Performers</p>
                  </div>
                </div>


                <div class="column">
                  <div class="card">
                    <p><img src="images/client.png" style="height:50px; width:50px; filter: invert(100%);"></p>
                    <h3>99+</h3>
                    <p>Happy Clients</p>
                  </div>
                </div>


                <div class="column">
                  <div class="card">
                    <p><img src="images/event.png" style="height:50px; width:50px; filter: invert(100%);"></p>
                    <h3>100+</h3>
                    <p>Scheduled Events</p>
                  </div>
                </div>

              </div>
            </div>
          </div>




        </div> 

       
        <!-- <div class="carousel">
          <img src="http://placehold.it/600x350/faf345/000000&text=item 1" alt="Image 1" />
          <img src="http://placehold.it/600x350/ffa345/000000&text=item 2" alt="Image 2" />
          <img src="http://placehold.it/600x350/ffa3ee/000000&text=item 3" alt="Image 3" />
          <img src="http://placehold.it/600x350/ffd3ee/000000&text=item 4" alt="Image 4" />
          <img src="http://placehold.it/600x350/fda30e/000000&text=item 5" alt="Image 5" />
        </div> -->
   