
        <!-- <div id = "animated" class = "animatedContent bounceInDown"> -->
        <div class="detailsContent">
            <div class="row">
                <div id = "animated-example" class = "animated1 bounceInDown">
                    
                    <div class="column">
                      <div class="card">
                        <p><img src="images/partyy.png" style="height:50px; width:50px;" ></p>
                        <h3>159+</h3>
                        <p>Success Stories</p>
                      </div>
                    </div>
                    <div class="column">
                      <div class="card">
                        <p><img src="images/performer.png"  style="height:50px; width:50px;"></p>
                        <h3>56+</h3>
                        <p>Dedicated Performers</p>
                      </div>
                    </div>
                
            
                    <div class="column">
                      <div class="card">
                        <p><img src="images/client.png" style="height:50px; width:50px;"></p>
                        <h3>99+</h3>
                        <p>Happy Clients</p>
                      </div>
                    </div>
                
                
                    <div class="column">
                      <div class="card">
                        <p><img src="images/event.png" style="height:50px; width:50px;"></p>
                        <h3>100+</h3>
                        <p>Scheduled Events</p>
                      </div>
                    </div>
                
                 </div>  
        </div>
    </div>	
