<div class="contentReg">
		<div id = "animated-example" class = "animated bounceInDown">
		<h3>Registration</h3>
		<form role="form" name="registerForm" ng-submit="submit()" ng-controller="registerController">
		
			<span ng-model="exists" ng-show="exists" style="color:rgb(224, 73, 14); display:block; text-align:center;">This user already exists</span>
		
		  <div class="form-group">
			  <label>{{'register.first.name' | translate}}</label><br>
			  <input class="regInput" type="text" placeholder="{{'register.first.holder' | translate}}" name="name" 
			  ng-model="user.name" 
			  ng-required="true">
			  <span ng-show="registerForm.name.$touched && registerForm.name.$invalid" style="color:rgb(224, 73, 14); display:block; text-align:center;">{{'register.required'| translate}}</span>
			  
		  </div>
		  <div class="form-group">
		
			<label>{{'register.last.name' | translate}}</label><br>
			<input class="regInput" type="text" placeholder="{{'register.last.holder' | translate}}" name="lastName" 
			ng-model="user.lastName" 
			ng-required="true">
			<span ng-show="registerForm.lastName.$touched && registerForm.lastName.$invalid" style="color:rgb(224, 73, 14); display:block; text-align:center;">{{'register.required'| translate}}</span>
			
		</div>
		  <div class="form-group">
			  <label>{{'register.email.name' | translate}}</label><br>
			  <input class="regInput" type="email" placeholder="{{'register.email.holder' | translate}}" name="email" 
			  ng-model="user.email" 
			  ng-required="true">
			  <span ng-show="registerForm.email.$touched && registerForm.email.$invalid" style="color:rgb(224, 73, 14); display:block; text-align:center;">{{'register.email.validation'| translate}}</span>
			 <!-- <span ng-show="registerForm.email.$invalid" style="color:red; display:block; text-align:center;">{{'register.email.validation'| translate}}</span> -->
		  </div>
		
		  <div class="form-group">
				<label>{{'register.phone.name' | translate}}</label><br>
				<input class="regInput" 
				type="text" 
				placeholder="{{'register.phone.holder' | translate}}"
				name="mobile" 
				inputmode="numeric" 
				ng-minlength="10" 
				ng-maxlength="10"  
				ng-pattern="/^\+?\d{2}[- ]?\d{3}[- ]?\d{5}$/"  
				ng-model="user.mobile" 
				ng-required="true">
				<span ng-show="registerForm.mobile.$touched && registerForm.mobile.$invalid" style="color:rgb(224, 73, 14); display:block; text-align:center;">{{'register.phone.validation'| translate}}</span>
				<!-- <span ng-show="registerForm.mobile.$invalid" style="color:red; display:block; text-align:center;">{{'register.phone.validation'| translate}}</span> -->
			</div>
		  
		  <div class="form-group">
			  <label>{{'register.password.name' | translate}}</label><br>
			  <input class="regInput" type="password" placeholder="{{'register.password.holder' | translate}}" name="password" 
			  ng-model="user.password" 
			  ng-required="true">
			  <span ng-show="registerForm.password.$touched && registerForm.password.$invalid" style="color:rgb(224, 73, 14); display:block; text-align:center;">{{'register.required'| translate}}</span>
		  </div>
		  
		  <!-- <div class="form-group">
			  <label>{{'register.rpassword.name' | translate}}</label><br>
			  <input type="password" placeholder="{{'register.rpassword.holder' | translate}}" name="rpassword" 
			  ng-pattern="rpassword" 
			  ng-model="user.rpassword" 
			  ng-required="true">
			  <span ng-show="registerForm.rpassword.$touched && registerForm.rpassword.$invalid" style="color:red; display:block; text-align:center;">{{'register.required'| translate}}</span>
		  </div> -->
		  
		  <br>
		
		 
		 <div class="checkbox">
			<input type="checkbox" id="myCheck" ng-model="box" ng-init="box = false"> contractor
		</div> 
		  
		  <div id="extra" ng-if="box">
				<br><div class="form-group">
					<label>{{'register.stage.name' | translate}}</label><br>
					<input class="regInput" type="text" placeholder="{{'register.stage.holder'|translate}}" name="nume_scena" ng-model="user.nume_scena">
				</div>
				
				
				
				<div class="form-group">
					<label>{{'register.youtube.name' | translate}}</label><br>
					<input class="regInput" type="text" placeholder="{{'register.youtube.holder' | translate}}" name="canal_youtube" ng-model="user.canal_youtube">
				</div>
				
				<div class ="form-group">
				  <label>{{'register.type.name' | translate}}</label>
				  <select name ="domeniu_activitate" id ="tipMuzica" class= "form-control" ng-model="user.domeniu_activitate" ng-required="true">
					<option>Dj</option>
					<option>Band</option>
					<option>Interpret</option>
				  </select>
				  <span ng-show="registerForm.domeniu_activitate.$touched && registerForm.domeniu_activitate.$invalid" style="color:rgb(224, 73, 14); display:block; text-align:center;">{{'register.required'| translate}}</span>
				</div><br>
				<label>{{'register.stil.name' | translate}}</label><br><br>
				<div class="form-group" ng-repeat="stil in styles">
					
					<!-- <input type="checkbox" value="pop">Pop<br>
					<input type="checkbox" value="rock">Rock<br>
					<input type="checkbox" value="pop">Populara<br>
					<input type="checkbox" value="rock">Folk<br> -->
						<label for="chkCustomer_{{stil.stilId}}">
							<input id="chkCustomer_{{stil.stilId}}" type="checkbox" ng-model="stil.Selected" ng-change = "CheckBox_Checked(stil.stilId)" />
							{{stil.Name}}
						</label>
				</div> 
		  
		  
			</div>
		  <br>
		  <input type="submit" id="submit" value="Submit" ng-disabled="registerForm.$invalid">
		  
		  <div class="signin">
			<p>Already have an account? <a href="#!/login">Sign in</a>.</p>
		  </div>
		</form>
		</div>
		